BasedOnStyle: LLVM
UseTab: Never

# Better visualization on the book
ColumnLimit: 68
IndentWidth: 2
TabWidth: 2

# Includes
IncludeIsMainRegex: "$"
SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
    # Project headers
  - Regex: '^".*\.h"$'
    Priority: 1
    # System headers
  - Regex: '^<.*\.h>$'
    Priority: 3
    # Any other include
  - Regex: '.*'
    Priority: 4


# Makes code denser
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true

# Spaces
SpaceBeforeParens: Never
SpacesInContainerLiterals: false
SpaceInEmptyParentheses: false

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  IndentBraces: false

# Function declarations
BinPackParameters: true
BinPackArguments: true

# Indentation
IndentCaseLabels: true
IndentGotoLabels: true
AlignConsecutiveAssignments: false
